docker-defaults: &docker-defaults
  machine:
    image: ubuntu-2204:current
  working_directory: ~/app

auth_quay: &auth_quay
  run:
    name: Authenticate Quay
    command: |
      docker login -u "$QUAY_USERNAME" --password "$QUAY_PASSWORD" quay.io

hermes_deploy: &hermes_deploy
  run:
    name: Deploy via Hermes
    command: |
      export TAG=${CIRCLE_BRANCH//\//_}-${CIRCLE_SHA1}
      docker run -e HERMES_HOST -e HERMES_SECRET quay.io/nyulibraries/hermesclient:master createJob -job=salon-loaders-cron -tag=$TAG
      docker run -e HERMES_HOST -e HERMES_SECRET -e HERMES_WAIT_TIMEOUT=6m quay.io/nyulibraries/hermesclient:master jobStatus -job=salon-loaders-cron

version: 2
jobs:
  build-image:
    <<: *docker-defaults
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache \
              py-pip
            pip install \
              docker-compose==1.16.1
      - run:
          name: Pull docker images
          command: |
            script/pull_quay.sh
      - run:
          name: Run tests
          command: |
            touch secrets.env
            export BRANCH_NO_SLASH=${CIRCLE_BRANCH//\//_}
            docker-compose run test
      - <<: *auth_quay
      - run:
          name: Push docker images
          command: |
            script/push_quay.sh
  deploy-dev:
    <<: *docker-defaults
    steps:
      - <<: *auth_quay
      - run:
          name: Export Hermes Dev env vars
          command: |
            echo 'export HERMES_HOST=https://hermes-dev.library.nyu.edu' >> $BASH_ENV
            echo 'export HERMES_SECRET=$HERMES_SECRET_DEV' >> $BASH_ENV
      - <<: *hermes_deploy
  deploy-prod:
    <<: *docker-defaults
    steps:
      - <<: *auth_quay
      - run:
          name: Export Hermes Prod env vars
          command: |
            echo 'export HERMES_HOST=https://hermes.library.nyu.edu' >> $BASH_ENV
            echo 'export HERMES_SECRET=$HERMES_SECRET_PROD' >> $BASH_ENV
      - <<: *hermes_deploy

workflows:
  version: 2
  deploy:
    jobs:
      - build-image
      - deploy-dev:
          requires:
            - build-image
          filters:
            branches:
              ignore: master
      - deploy-prod:
          requires:
            - build-image
          filters:
            branches:
              only: master
